version: "3"
services:
  app-db:
    image: mysql
    ports:
      - "3306:3306"
    environment:
      - MYSQL_DATABASE=TravelBookingDB
      - MYSQL_ROOT_PASSWORD=secret
      - MYSQL_ALLOW_EMPTY_PASSWORD=1
      - MYSQL_USER=mysql
      - MYSQL_PASSWORD=mysql
  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - app-db